body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

#app {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    transition: background 0.5s;
}

body.dark-mode #app {
    background: #1e1e1e;
}

#logo {
    width: 150px;
    margin-bottom: 40px;
}

#taskControls, #taskForm, #taskButtons {
    margin-top: 20px;
    font-size: 1.2em;
}

#taskControls button, #taskForm button, #taskButtons button {
    padding: 5px 10px;
    font-size: 0.9em;
    margin: 5px;
    max-width: 100%;
    transition: all 0.3s ease;
}

#searchTasks, #taskInput {
    padding: 10px;
    font-size: 1.2em;
    width: calc(100% - 20px);
    margin: 10px 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

body.dark-mode input[type="text"], body.dark-mode input[type="password"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.authForm, #taskManager {
    display: none;
}

.authForm.active, #taskManager.active {
    display: block;
    animation: slideIn 0.5s ease-in-out;
}

#taskButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.universe-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.universe-button:hover {
    background-color: #0056b3;
}